name: CI

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

permissions:
  contents: read

jobs:
  test:
    name: Test (Elixir ${{matrix.elixir}} | OTP ${{matrix.otp}})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - elixir: '1.17.3'
            otp: '27.1'
            lint: true
            coverage: true
          - elixir: '1.16.3'
            otp: '26.2'
          - elixir: '1.15.8'
            otp: '26.2'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}

      - name: Restore dependencies cache
        uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-mix-${{ matrix.otp }}-${{ matrix.elixir }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-${{ matrix.otp }}-${{ matrix.elixir }}-

      - name: Install dependencies
        run: mix deps.get

      - name: Check formatting
        run: mix format --check-formatted
        if: ${{ matrix.lint }}

      - name: Run Credo
        run: mix credo --strict
        if: ${{ matrix.lint }}

      - name: Compile with warnings as errors
        run: mix compile --warnings-as-errors
        if: ${{ matrix.lint }}

      - name: Run tests
        run: mix test

      - name: Run tests with coverage
        run: mix coveralls.html
        if: ${{ matrix.coverage }}

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v4
        if: ${{ matrix.coverage }}
        with:
          name: coverage-report
          path: cover/
